# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [20]:
#  Q 1
tupl = tuple(range( 1, 11))
print(tupl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [19]:
# Q 2
print(tupl[0])
x = len(tupl)
print(tupl[x//2])
print(tupl[-1])

1
6
10

In [26]:
# Q 3
print(tupl[ :3])
print(tupl[-3:])
print(tupl[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [30]:
# Q 4 
matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(" my matrix is  :")
for row in matrix:
    print(row)
print(f" the element at 2nd row and 3 column are :{ matrix[1][2]}")

 my matrix is  :
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
 the element at 2nd row and 3 column are :6

In [33]:
# Q 5
tup = (1,2,3)
tupl= ( 4,5,6)
tup_x = tup + tupl
print(tup_x)

(1, 2, 3, 4, 5, 6)

In [36]:
# Q 6
tup = ( 1, 2, 3, 3,4 ,4 ,6, 7 ,6 , 6, 6)
print(f"the total occurrence of 6 is : { tup.count(6)}")
print(f" the first occurrence of  6 is : { tup.index(6)}")

the total occurrence of 6 is : 4
 the first occurrence of  6 is : 6

In [39]:
# Q 7 

tup = ( 1, 2,3,4,5,6)
a,b,c,d,e,f = tup
print( a, b, c,d,e,f)

1 2 3 4 5 6

In [77]:
# Q 8
list = [ 1, 2,3,4, 5]
tup = tuple(list)
print(tup)

(1, 2, 3, 4, 5)

In [43]:
# Q 9
tup =( (1,2,3),(4,5,6),(7,8,9))
for row in tup:
    for x in row:
        print(x)
print(tup)

1
2
3
4
5
6
7
8
9
((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [81]:
# Q 10
##del list    ## if code not working then use del list because it allreay used 
my_tuple = (1,2,3,4,5)
my_list = list(my_tuple)
my_list.append(6)
print(my_list)
my_tuple = tuple(my_list)
print(my_tuple)

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [88]:
# Q 11
tup = ( "rupesh","raj")
print(tup)
my_name = "_".join(tup)
print(my_name)

tup =( "apple","watermalen","cheary")
print("_,_".join(tup))

('rupesh', 'raj')
rupesh_raj
apple_,_watermalen_,_cheary

In [89]:
# Q 12
my_dic = {
    (1,2): 3,
    (3,4): 7,
    (5,6): 11
}
print(my_dic)

{(1, 2): 3, (3, 4): 7, (5, 6): 11}

In [90]:
# Q 13
nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for tpl in nested_tpl:
    for elem in tpl:
        print(elem)

1
2
3
4
5
6
7
8
9

In [91]:
# Q 14

tup =(1,2,3,4,3,4,5,5,6)
my_set = set(tup)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [93]:
# Q 15 

def min_max_sum(tup):
    print(f" maximum no ____ {max(tup)}")
    print(f" minimum no ____ {min(tup)}")
    print(f" sum of no ____ {sum(tup)}")

sample_tpl = (1, 2, 3, 4, 5)

min_max_sum(sample_tpl)

 maximum no ____ 5
 minimum no ____ 1
 sum of no ____ 15